		<div class="content horizontal-centre vertical-centre">
		<div class="logo"></div>

			<!-- <h1 class="logo-h1">IMAJIN</h1> --><!-- <img class="logo" src="assets/img/imajin-logo.png"> -->
			<form name="contactFrm" class="contact-form">
				<ul class="form-list">
					<li>
					<input ng-blur='blurred = true'
					type="email" 
					name='txtEmail' 
					class="email-input" 
					placeholder="your email" 
					ng-model='ctrl.email'
					required>
					</li>
					<li id='err-li'>
						<div ng-show='contactFrm.txtEmail.$dirty && blurred' ng-messages='contactFrm.txtEmail.$error' ng-messages-multiple>
							<div ng-message='email' class="err-msg" >This field must be a valid email address.
							</div>
							<div class='err-msg' ng-message='required'>
								This field is required... Please
							</div>
						</div>
					</li>
					<li><textarea class='email-txta' placeholder="leave a message" ng-model='ctrl.message'></textarea> 
					</li>
					<li ><img class="loader" src="assets/img/loading.gif"><button ng-disabled='contactFrm.$invalid  === true' ng-click="ctrl.sendEmail()" class='frm-button' ng-class="{'disabled-class':contactFrm.$invalid}">send</button></li>
				</ul>
			</form>
		</div>